In [1]:
# importing packages for EDA

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# importing data

df = pd.read_csv('https://raw.githubusercontent.com/JosefRein/Kaggle_playground/main/train.csv')
df.shape

(7111, 12)

In [28]:
# date_time is encoded as an object, not a date
# Fixing that

df.date_time = pd.to_datetime(df.date_time)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7111 entries, 0 to 7110
Data columns (total 12 columns):
date_time                 7111 non-null datetime64[ns]
deg_C                     7111 non-null float64
relative_humidity         7111 non-null float64
absolute_humidity         7111 non-null float64
sensor_1                  7111 non-null float64
sensor_2                  7111 non-null float64
sensor_3                  7111 non-null float64
sensor_4                  7111 non-null float64
sensor_5                  7111 non-null float64
target_carbon_monoxide    7111 non-null float64
target_benzene            7111 non-null float64
target_nitrogen_oxides    7111 non-null float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 666.8 KB

In [29]:
df.head()

,date_time,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2010-03-10 18:00:00,13.1,46.0,0.7578,1387.2,1087.8,1056.0,1742.8,1293.4,2.5,12.0,167.7
1,2010-03-10 19:00:00,13.2,45.3,0.7255,1279.1,888.2,1197.5,1449.9,1010.9,2.1,9.9,98.9
2,2010-03-10 20:00:00,12.6,56.2,0.7502,1331.9,929.6,1060.2,1586.1,1117.0,2.2,9.2,127.1
3,2010-03-10 21:00:00,11.0,62.4,0.7867,1321.0,929.0,1102.9,1536.5,1263.2,2.2,9.7,177.2
4,2010-03-10 22:00:00,11.9,59.0,0.7888,1272.0,852.7,1180.9,1415.5,1132.2,1.5,6.4,121.8

In [3]:
df.describe().T #transpose to get a better view of the output

,count,mean,std,min,25%,50%,75%,max
deg_C,7111.0,20.878034,7.937917,1.3000,14.9000,20.7000,25.80000,46.100
relative_humidity,7111.0,47.561004,17.398731,8.9000,33.7000,47.3000,60.80000,90.800
absolute_humidity,7111.0,1.110309,0.398950,0.1988,0.8559,1.0835,1.40415,2.231
sensor_1,7111.0,1091.572100,218.537554,620.3000,930.2500,1060.5000,1215.80000,2088.300
sensor_2,7111.0,938.064970,281.978988,364.0000,734.9000,914.2000,1124.10000,2302.600
sensor_3,7111.0,883.903305,310.456355,310.6000,681.0500,827.8000,1008.85000,2567.400
sensor_4,7111.0,1513.238349,350.180310,552.9000,1320.3500,1513.1000,1720.40000,2913.800
sensor_5,7111.0,998.335565,381.537695,242.7000,722.8500,928.7000,1224.70000,2594.600
target_carbon_monoxide,7111.0,2.086219,1.447109,0.1000,1.0000,1.7000,2.80000,12.500
target_benzene,7111.0,10.237083,7.694426,0.1000,4.5000,8.5000,14.20000,63.700
target_nitrogen_oxides,7111.0,204.066784,193.927723,1.9000,76.4500,141.0000,260.00000,1472.300